<ion-view title="Bookings">
  <ion-nav-buttons side="right">
    <a ui-sref="app.booking_form({_id: collection.objRef._id, name: collection.objRef.name })" class="button button-icon button-clear ion-plus"></a>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <h2 class="title">{{ collection.objRef.name }}</h2>
  </div>
  <ion-content class="has-subheader">
    <ion-list ng-show="collection.rows.length">
      <div ng-repeat="item in collection.rows">
        <ion-item class="item-divider" ng-show="isNewDate(item)">{{item.from.date | date:'mediumDate'}}</ion-item>
      <ion-item class="item-icon-right">
        <span class="item-note">{{item.status}}</span>
        <h2>{{ item.name }}</h2>
        <p>{{ item.from.time | date:'shortTime' }} for {{item.duration/60 }} hour</p>

      </ion-item>
      </div>

    </ion-list>

    <div class="card" ng-hide="collection.rows.length">
      <div class="item item-text-wrap">
        No booking yet, you've got all your chances to get a slot...BOOK NOW!
      </div>
    </div>

  </ion-content>
</ion-view>
