<ion-view>
  <ion-content class="padding">
    <div class="list card">
      <div class="item">
        <h2>Manage My Lab</h2>
        <p>v 0.1.0</p>
      </div>

      <div class="item item-body">
        <p>
          "Manage My Lab" is a simple application to help the daily operations of a fab lab or similar lab such as makerspace, etc...

        </p>
         <p style="text-align:center">
          <img class="ffull-image" src="img/logo_minchee.png">
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-social-github"></i> Github
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i> Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i> Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
