<ion-view>
    <div class="bar bar-subheader">
  <h2 class="title">Add a New Equipment</h2>
</div>
  <ion-nav-buttons side="right">
    <!--        <button class="button button-icon button-clear ion-search"></button>-->
    <!--        <a ui-sref="app.equipment_new" class="button button-icon button-clear ion-plus"></a>-->
    <!--        <button class="button button-clear" ng-click="save(equipment)">Save</button>-->
  </ion-nav-buttons>


  <ion-content class="has-subheader">
    <ion-list>
      <ion-item>
        <input type="text" placeholder="Brand" ng-model="equipment.brand">
      </ion-item>
      <ion-item>
        <input type="text" placeholder="Model" ng-model="equipment.model">
      </ion-item>
      <ion-item>
        <textarea placeholder="Description" ng-model="equipment.description"></textarea>
      </ion-item>
      <ion-toggle ng-model="equipment.availability" toggle-class="toggle-balanced">Available</ion-toggle>
      <a class="button button-calm" ng-click="selectPicture()">SelectPicture</a>
    </ion-list>
  </ion-content>

  <ion-footer-bar>
    <div class="button-bar">
      <a class="button button-clear" ui-sref="app.equipments">Cancel</a>
      <a class="button button-calm" ng-click="save(equipment)">Save</a>
    </div>
  </ion-footer-bar>
</ion-view>
