<ion-view title="Materials">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-minus-outline" ng-click="data.shouldShowDelete = !data.shouldShowDelete"></button>
    <a ui-sref="app.material_new" class="button button-icon button-clear ion-plus"></a>
  </ion-nav-buttons>

  <ion-content>
    <ion-list show-delete="data.shouldShowDelete" can-swipe="true">
      <ion-item class="item-input item-select" ng-show="collection.rows.length">
        <span class="input-label">Material Type</span>
        <select ng-model="type" ng-options="label for label in collection.presets.materialType">
          <option>...</option>
        </select>
      </ion-item>

      <div class="item item-divider" ng-show="collection.rows.length">Last added</div>
      <ion-item ng-repeat="item in collection.rows |filter:type" class="item-inset item-thumbnail-left">
        <img src="img/epilogfusion32.jpg">
        <h2>{{ item.type }}</h2>
        <p>{{ item.color }}</p>
        <span class="badge badge-dark">{{ item.quantity }}</span>
        <ion-option-button class="button-calm ion-edit" ui-sref="app.material_edit({id: item._id})"></ion-option-button>
        <ion-option-button class="button-info ion-arrow-up-b" ng-click="item.changeQuantity(1)"></ion-option-button>
        <ion-option-button class="button-info ion-arrow-down-b" ng-click="item.changeQuantity(-1)"></ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="collection.removeOne($index)"></ion-delete-button>
      </ion-item>
    </ion-list>

    <div class="list card" ng-show="!collection.rows.length">
      <div class="item item-body">
        No materials found yet. Do you want to <a ui-sref="app.material_new">add some</a>?
      </div>
    </div>
  </ion-content>
</ion-view>
