<ion-view title="Materials">
<ion-content>
  <div class="list card" ng-show="collection.rows.length > 0">
      <div class="item item-body" ng-repeat="collection.rows">
        No materials found yet. Do you want to <a ui-sref="app.material_new">add some</a>?
      </div>
  </div>
  <div class="list card" ng-show="!collection.rows.length">
      <div class="item item-body">
        No materials found yet. Do you want to <a ui-sref="app.material_new">add some</a>?
      </div>
  </div>
</ion-content>
</ion-view>