<ion-view>
  <ion-content>
    <ion-list>
      <label class="item item-input item-select">
        <div class="input-label">
          Material Type
        </div>
        <select ng-model="material.materialType" ng-options="label for label in material.presets.materialType">
          <option value="">...</option>
        </select>
      </label>
      <div class="item item-divider">
        Usage
      </div>
      <ion-checkbox ng-repeat="item in material.presets.materialUsage">{{item}}</ion-checkbox>
      <div class="item item-divider">
        Technical Information
      </div>
      <ion-item>
        <input type="text" placeholder="Name" ng-model="material.name">
      </ion-item>
      <ion-item>
        <input type="text" placeholder="Price Per Unit" ng-model="material.price_per_unit">
      </ion-item>
      <ion-item>
        <textarea placeholder="Description" ng-model="material.description"></textarea>
      </ion-item>
      <ion-toggle ng-model="material.availability" toggle-class="toggle-balanced">Available</ion-toggle>
      <a class="button button-calm" ng-click="selectPicture()">SelectPicture</a>
    </ion-list>
  </ion-content>
</ion-view>
