<form name="formAdmin" novalidate>
  <ion-view title="Admin">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="config.save()" ng-disabled="formAdmin.$invalid">Save</button>
    </ion-nav-buttons>
  </ion-view>

  <ion-tabs class="tabs-stripped tabs-icon-top tabs-positive tabs-top">

    <ion-tab title="Information" icon="ion-ios-information">
      <ion-view>
        <ion-content>
          <ion-list>
            <ion-item class="item-input item-floating-label">
              <span class="input-label">Name</span>
              <input type="text" placeholder="Lab Name" ng-model="lab.name" required>
            </ion-item>
            <div class="item item-divider">Contact</div>
            <ion-item class="item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Email" ng-model="lab.contact.email" required>
            </ion-item>
            <ion-item class="item-input item-floating-label">
              <span class="input-label">Website</span>
              <input type="text" placeholder="Website" ng-model="lab.contact.website">
            </ion-item>
          </ion-list>
        </ion-content>
    </ion-tab>

    <ion-tab title="Database" icon="ion-android-cloud">
      <ion-view>
        <ion-content>
          <ion-list>

          </ion-list>
        </ion-content>
    </ion-tab>

    <ion-tab title="Equipment" icon="ion-wrench">
      <ion-view>
        <ion-content>
          <ion-list>

          </ion-list>
        </ion-content>
    </ion-tab>

    <ion-tab title="Material" icon="ion-pricetags">
      <ion-view>
        <ion-content>
          <ion-list>

          </ion-list>
        </ion-content>
    </ion-tab>

    <ion-tab title="Events" icon="ion-android-calendar">
      <ion-view>
        <ion-content>
          <ion-list>

          </ion-list>
        </ion-content>
    </ion-tab>

  </ion-tabs>
</form>
